# Dependencies
node_modules/

# Environment variables
.env

# Encrypted files
*.enc

# Server files
encrypt-server.js
reset_leaderboard.js
reset-history.json
server_original.js
generate-hash.js
leaderboard-backup.json.enc
leaderboard.json.enc